
@font-face {
                          font-family: "NHaasGroteskTXPro-55Rg";
                          src: url('../fonts/file (2).ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "MuseoSans-300";
                          src: url('../fonts/MuseoSans-300.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "MuseoSans-100";
                          src: url('../fonts/MuseoSans-100.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "NHaasGroteskTXPro-65Md";
                          src: url('../fonts/file (1).ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "MuseoSans-700";
                          src: url('../fonts/MuseoSans_700.otf') format("opentype");
                        }
                        
.bp2-frontendmobile {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 1983px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-frontendmobile .bp2-portfolio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : auto;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "NHaasGroteskTXPro-55Rg", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.bp2-frontendmobile .bp2-frontenddevelopmen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : auto;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.bp2-frontendmobile .bp2-projectwebdevelopm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 136px;
  height              : auto;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-300", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(151, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span1 {
  
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span2 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span3 {
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  color               : rgba(0, 0, 0, 1.0);
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span4 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span5 {
  
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span6 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span7 {
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  color               : rgba(0, 0, 0, 1.0);
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span8 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span9 {
  
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span10 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp2-frontendmobile .bp2-projectwebdevelopm .bp2-span11 {
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  color               : rgba(0, 0, 0, 1.0);
}
.bp2-frontendmobile .bp2-homepage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 652px;
  height              : 254px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-bigger {
  background-color    : rgba(255,255,255,0.0);
  top                 : 944px;
  height              : 254px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1236px;
  height              : 254px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-mobilefooter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1593px;
  height              : 386px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-mobilefooter .bp2-rectangle {
  background-color    : rgba(124, 114, 114, 1.0);
  top                 : 0px;
  height              : 386px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-mobilefooter .bp2-susanferugiomarket {
  background-color    : rgba(255,255,255,0.0);
  top                 : 316px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 108px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp2-frontendmobile .bp2-mobilefooter .bp2-bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-mobilefooter .bp2-tw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 127px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-mobilefooter .bp2-projectmanagementemailicon2x {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-mobilefooter .bp2-susanferugiocmsnyc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.bp2-frontendmobile .bp2-mobilefooter .bp2-projectmanagementphoneicon2x {
  background-color    : rgba(255,255,255,0.0);
  top                 : 127px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-frontendmobile .bp2-mobilefooter .bp2-a13474515112 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp1-frontenddevelopment {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1178px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-frontenddevelopment .bp1-frontenddevelopmen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 501px;
  height              : auto;
  width               : 659px;
  position            : absolute;
  margin              : 0;
  left                : -35px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : right;
  line-height         : 72.0px;
}
.bp1-frontenddevelopment .bp1-label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 207px;
  height              : auto;
  width               : 838px;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-300", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp1-frontenddevelopment .bp1-label1 .bp1-span1 {
  
}
.bp1-frontenddevelopment .bp1-label1 .bp1-span2 {
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 207px;
  height              : auto;
  width               : 796px;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-300", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(151, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span1 {
  
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span2 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span3 {
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  color               : rgba(0, 0, 0, 1.0);
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span4 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span5 {
  
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span6 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span7 {
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  color               : rgba(0, 0, 0, 1.0);
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span8 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span9 {
  
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span10 {
  color               : rgba(0, 0, 0, 1.0);
}
.bp1-frontenddevelopment .bp1-projectwebdevelopm .bp1-span11 {
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  color               : rgba(0, 0, 0, 1.0);
}
.bp1-frontenddevelopment .bp1-bigger {
  background-color    : rgba(255,255,255,0.0);
  top                 : 539px;
  height              : 268px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 707px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-homepage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 539px;
  height              : 288px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 433px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 539px;
  height              : 268px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 980px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-icons8chevronrightfilled50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 854px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.bp1-frontenddevelopment .bp1-icons8chevronrightfilled501 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 856px;
  height              : 26px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 1363px;
  -ms-transform       : rotate(360deg); /* IE 9 */
  -webkit-transform   : rotate(360deg); /* Chrome, Safari, Opera */
  transform           : rotate(360deg);
}
.bp1-frontenddevelopment .bp1-nav {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : 53px;
  width               : 590px;
  position            : absolute;
  margin              : 0;
  left                : 727px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-nav .bp1-background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 590px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-nav .bp1-home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-300", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-frontenddevelopment .bp1-nav .bp1-homeline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-nav .bp1-services {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 143px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-300", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-frontenddevelopment .bp1-nav .bp1-serviceslink {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 139px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-nav .bp1-portfolio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 263px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-300", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-frontenddevelopment .bp1-nav .bp1-portfoliolink {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 244px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-nav .bp1-about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-300", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-frontenddevelopment .bp1-nav .bp1-aboutlink {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 361px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-nav .bp1-contact1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 503px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-300", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-frontenddevelopment .bp1-nav .bp1-contactlink {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 50px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 487px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-nextcasestudy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 856px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1251px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(124, 114, 114, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.bp1-frontenddevelopment .bp1-homepage1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 821px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1255px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(124, 114, 114, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.bp1-frontenddevelopment .bp1-bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 806px;
  height              : 30px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 1349px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-previouscasestudy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 856px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(124, 114, 114, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.bp1-frontenddevelopment .bp1-footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 935px;
  height              : 243px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-footer .bp1-rectangle {
  background-color    : rgba(124, 114, 114, 1.0);
  top                 : 0px;
  height              : 243px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-footer .bp1-susanferugiocmsnyc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.bp1-frontenddevelopment .bp1-footer .bp1-a13474515112 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 147px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.bp1-frontenddevelopment .bp1-footer .bp1-projectmanagementemailicon2x {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-footer .bp1-projectmanagementphoneicon2x {
  background-color    : rgba(255,255,255,0.0);
  top                 : 135px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-footer .bp1-susanferugiomarket {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1108px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MuseoSans-100", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.bp1-frontenddevelopment .bp1-footer .bp1-bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 139px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 1203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-frontenddevelopment .bp1-footer .bp1-tw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 139px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 1116px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 1439px) {
  .bp2-frontendmobile {
    display             : block;
  }
  .bp1-frontenddevelopment {
    display             : none;
  }
}
@media screen and (min-width: 1440px) {
  .bp2-frontendmobile {
    display             : none;
  }
  .bp1-frontenddevelopment {
    display             : block;
  }
}